a{
    text-decoration: none;
    color:#686868
  }

  body{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.3;
    font-weight: 400;
  
    color-scheme: light dark;
    margin: 0px;
    padding: 0px;
  }
  
  .container{
    margin: auto;
    width:100%;
    height:100%;
  }
  
  .lp_container{
    display: flex;
    flex-direction: column;
  }
  
  
  button {
    color:#fff;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #FCAF3C;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #948368;
  }
  button:focus,
  button:focus-visible {
    outline: 0;
  }
  
  .login_button{
    margin-left: 20px;
    text-decoration: none;
    width:170px;
    height:50px;
  
  }
  .board_container{
    flex:1;
    padding-left: 20px;
    padding-top: 20px;
  }
  
  .topbar{
    display:flex;
    flex-direction: row;
    width:100%;
    height:65px;  
    background-image: linear-gradient(#1d1b1b, rgb(39, 38, 38) );
  }
  
  .hero{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .section1{
    flex:1;
    display: flex;
    flex-direction: column;
  }
  
  .hero_text{
    margin: 20px;
    margin-top: 33px;
    flex: 1;
    font-size: 3.5em;
    font-weight: 500;
    color:rgb(161, 159, 159);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .logoText{
    margin-left: 20px;
    margin-top:10px;
    color:#686868;
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'crackman';
  }
  
  /*
  .logo{
    margin-left: 20px;
    margin-top:22px;
    width:50px;
    height:50px;
  }
  
  .logo_row{
    display: flex;
    width: 50px;
    height: 25px;
  }
  
  .logo_row_white{
    flex: 1;
    width:25px;
    height:25px;
    background-color: #fff;
  }
  .logo_row_black{
    flex: 1;
    width:25px;
    height:25px;
    background-color: #000;
  }
  */
  .spacer{
    aspect-ratio: 960/170;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    z-index: -1;
  }
  
  .layer1{
    background-image: url('./assets/images/others/layer3.svg');
  }
  
  
  .section_divider{
    width:100%;
    background-image: url('./assets/images/others/waves.svg');
  }
  
  
  
  @font-face {
    font-family: 'crackman';
    src: url("./assets/fonts/crackman.regular.otf") format("opentype");
  }
  
  /*Login Page and Register Page forms*/
  
  .form_container_wrapper{
    display: flex;
    width: calc(100% - 40px);
    height: fit-content;
    justify-content: center;
    padding: 20px;
  }
  
  .form_container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    background-color: rgb(255, 255, 255);
    color:#e3e3e3;
    border-radius: 12px;
  }
  
  .form_group{
    display: flex;
    justify-content: center;
    margin-top:7px;
  }
  
  .form_label{
    flex:1;
  }
  
  .form_input{
  
    border-radius: 2px;
    border:0px;
    flex:3;
  }
  
  .form_button_wrapper{
    display: flex;
    justify-content: center;
  }
  
  .form_button{
    margin-top: 15px;
   width: 164px;
   height:45px; 
   padding:.15em;
  }
  
  .registerLink{
    color: rgb(211, 166, 17);
  }
  
  .registerLink:hover{
    text-decoration: underline;
  }
  
  .error_message_div{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #fb1e1e;
  }
  
  .input_error{
    height: 16px;
    font-size: 13px;
    margin-left: 25%;
    margin-top: 3px;
  }
  
  .centered_text{
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    .spacer{
      aspect-ratio: 1024/200;
      width: 100%;
      height: 150px;
    }
  
    .layer1{
      background-image: url('./assets/images/others/layer5.svg');
    }
  
    .hero{
      flex-direction: column;
      height: max-content;
    }
  
    .board_container{
      display: none;
    }
  
    .topbar{
      display: flex;
      justify-content: center;
    }
  
    .form_container_wrapper{
      width: calc(100% - 10px);
      padding:5px;
      margin-top: 3vh;
    }
  
    .form_container{
      width: 300px;
      padding:10px;
    }
  
    .form_group{
      flex-direction: column;
    }
  
    .hero_text{
      margin-top: calc(33px + 4vh);
      font-size: 2.8em;
    }
  }
  
  
  .input_wrapper{ 
    width: 100%;
    height: 64px;
    box-sizing: border-box;
  }
  
  .input_container{
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    margin-top: 8px;
    position: relative;
  }
  
  .input_box{
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 55px;
    width:100%;
    padding: 13px 15px;
    border:1px solid rgb(194, 194, 194);
  }
  
  .placeholder{
    background-color: white;
    position: absolute;
    font-size:16px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top:17px;
    left:13px;
    box-sizing: border-box;
    padding: 0px 8px;
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1);
    z-Index:.5
  }
  
  .input_box_focused{
    outline-width: 0;
    border:2px solid blue !important
  }
  
  .placeholder_focused{
    transform: translate(-9px, -28px) scale(.75);
    color: blue;
  }
  
  .hidden_{
    display:none;
  }
  
  .filled{
    color: #1d1b1b;
  }
  
  form{
    color:#202124
  }
  
  .input_box_focused_error{
    outline-width: 0;
    border:2px solid #d93025
  }
  
  .input_box_error{
    border-color: #d93025;
  }
  
  .placeholder_error{
    color: #d93025;
  }
  
  .disabled{
    background-color: #edc589;
  }
  
  
  .rotate {
    animation: rotation 1s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  .login_splash{
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: #f6f6f6;
    color: #242424;
    text-align: center;
    padding-top: 50px;
  }
  
  input:internal-autofill-selected{
    background-color: white !important
  }
  
  .subText{
    margin-top:18px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #777;
  }
  
  .skills{
    margin-left:13px;
    font-size: inherit;
    color:#FCAF3C
  }